{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LES</title>

</head>
<body>

    <a href="../../">
       <button style="margin-top: 2em; margin-left: 5%" class="btn btn-danger">Voltar</button>
    </a>

    <h2 class="text-primary" style="text-align: center; padding: 1em">Escolha o parque em que pretende operar:</h2>

     {% include "main/includes/messages.html" %}

        <div class="container-fluid">
            <div class="row">
                {% for parque in parques %}
                <div class="col-md-4 text-center">
                        <img class="h-75 border border-dark rounded p-4" height="150px" width="300px" src="/image/{{ parque.foto }}">
                        <h2><a href="{% url 'OperationManagement:index' parque_id=parque.id %}">{{ parque.nome }}</a></h2>
                </div>
                 {% endfor %}
            </div>
        </div>

 
</body>
</html>
{% endblock %}